@font-face {
    font-family: "font";
    src: url("./comfortaa.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
  }
  
  body {
    font-family: "font";
  background: #212121;
  color: #fff;
  font-size: 15pt;
  margin-top: 80px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

main {
  width: 98%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
}

hr {
  background: #AEAEAE;
  border: 1px #AEAEAE solid;
  border-radius: 50px;
  width: 92%;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.info {
  background: #7038f2;
  color: #fff;
  padding: 8px;
  border-radius: 10px;
  margin: 8px;
  box-sizing: border-box;
}

.main{
  width: 98%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
}

.header {
 background: #363636;
 border-bottom-left-radius: 10px; 
 border-bottom-right-radius: 10px; 
 font-weight: 700;
 box-sizing: border-box; 
 position: fixed;
 top: 0px; 
 left: 0px;
 padding: 0px 10px 10px 10px;
 width: 100%;
 z-index: 9999;
 box-sizing: border-box;
}
.header-text {
  font-size: 15pt;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.header-info{
  font-size: 10pt;
  background: #8048f8;
  padding: 5px; 
  border-radius: 5px; 
  color: #fff;
  box-sizing: border-box;
}

.header-info{
  text-decoration: none;
}


/* Для курсов */
table{
  border: 4px white solid;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
}
td {
  border: 1px white solid;
  border-radius: 2px;
  padding: 5px;
}
span {
  background: #42445A;
  color: #fff;
  border-radius: 20px;
  padding: 5px;
  margin: 5px;
}
.panel{
  position: fixed;
  right: 0px;
  bottom: 0px;
  margin: 10px;
  background: #42445A;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.5;
}

/* Сами новости */
.but {
  background: #8048f8;
  text-decoration: none;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color:#fff;
  font-size: 15pt;
  margin: 10px;
  width: 100%;
  box-sizing: border-box;
}
    .post{
    padding: 20px; 
    background: #363636; 
    border-radius: 10px; 
    margin-bottom: 10px;
    box-sizing: border-box;
    }

.h1{
  font-size: 20pt;
  margin-bottom: 3px;
  box-sizing: border-box;
}
pre {
  background: #000;
  color:#FFA000;
  text-align: left;
  border: 2px;
  border-color: #AB00FF;
  padding: 8px;
  width: auto;
  border-radius: 10px;
  font-size: 10px;
  box-sizing: border-box;
}
code {
  background: #202020;
  color: #FFA000;
  text-align: left;
  border: 2px;
  border-color: #AB00FF;
  padding: 8px;
  width: auto;
  border-radius: 10px;
  box-sizing: border-box;
}
.result {
  background:#fff;
  color:#000;
  margin: 8px;
  padding: 8px;
  border-radius: 10px;
  box-sizing: border-box;
}
img {
  width: 100%;
  box-sizing: border-box;
}
