/* Классик */
body{
  background: #8048f8;
  color: #fff;
  margin: 0px;
  padding: 4px;
}
.main {
  background: #8048f8;
  margin: 0px;
}

/* Сами новости */
.panelka{
  padding: 8px;
  margin: 8px;
  border-radius: 20px;
  background: #8048f8;
  color: #fff;  
}

.zagolovok{
  border-top-left-radius: 12px; 
  border-top-right-radius: 12px;
  background: #fff;
  color:#000;
  font-size: 20px; 
  margin: 0px;
  padding: 8px;
}

.foll{
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px; 
  background: #fff; 
  color: #000; 
  margin: 0px; 
  padding: 8px;
}

.logo{
  background:#fff;
  border-radius: 10px;
  width: 10%
}

/* Обновления*/
.panelka-upd{
  padding: 8px;
  margin: 8px;
  border-radius: 20px;
  background: #8048f8;
  color: #fff;  
}

.zagolovok-upd{
  border-top-left-radius: 12px; 
  border-top-right-radius: 12px;
  background: #1de9b6;
  color:#000;
  font-size: 20px; 
  margin: 0px;
  padding: 8px;
}

.foll-upd{
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px; 
  background: #1de9b6; 
  color: #000; 
  margin: 0px; 
  padding: 8px;
}
.but {
  background: #fff;
  color: #8048f8;
  padding: 8px;
  margin: 8px;
  border-radius: 20px;
  text-decoration: none; 
}
p {
  line-height: 20px;
  text-align: left;
}
pre {
  background: #202020;
  color:#FFA000;
  text-align: left;
  border: 2px;
  border-color: #AB00FF;
  padding: 8px;
  width: auto;
  border-radius: 10px;
}
.result {
  background:#fff;
  color:#000;
  margin: 8px;
  padding: 8px;
  border-radius: 10px;
}